.FavoritesContainer{
    display: flex;
    width: 100%;
    color: #f51326;
    justify-content: space-around;
}

.User{
    padding: 5px 30px;
}

input[type="text"]{
    border: 1px solid #2f68b1;
    border-radius: 2px;
}

button{
    background-color: yellow;
    color: #f51326;
    height: 30px;
    font-weight: 600;
    font-size: 13px;
    margin-left: 5px;
}